:root {
    --primary-color: lightgrey;
    --secondary-color: forestgreen;
    --tertiary-color: darkblue;
}

*{
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Header | Navbar Style Start */

header {
    background-image: url("./images/IMG_Bearded-Dragon.2.jpg");
    background-size:contain;
    background-color: var(--secondary-color);
    background-position: center;
    background-position: 25%;
    padding: 10px 25px;
    display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    display: flex;
    justify-content:flex-start;
    font-weight: bold;
    font-size: 30px;
    color: Yellow;
    margin: 0;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

header a {
    text-decoration: none;
    color: var(--primary-color)
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4)
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* Header | Navbar Style End */

footer {
    background: var(--tertiary-color);
    width: 100%;
    padding: 45px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--primary-color);
    font-size: 30px;
    margin:0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}
/* End Footer Styles */